.foot-export-div{
  //background: red;
  height: 113px;
  position: absolute;
  bottom: 100px;
  width: 700px;
  left: calc((100% - 700px)/2) ;
  .foot-left{
    float: left;
    width: 308px;
    height: 100%;
    background-image: url("../../resource/pic/foot/返回.png");
  }
  .foot-right{
    float: right;
    width: 308px;
    height: 100%;
    background-image: url("../../resource/pic/foot/下一步.png");
  }
}
