<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <script>
      !(function(c, b, d, a) {
        c[a] || (c[a] = {});
        c[a].config = {
          pid: "d1sddau2wi@e2528d6266b9011",
          appType: "web",
          imgUrl: "https://arms-retcode.aliyuncs.com/r.png?",
          sendResource: true,
          enableLinkTrace: true,
          behavior: true,
          enableSPA: true
        };
        with (b)
          with (body)
            with (insertBefore(createElement("script"), firstChild))
              setAttribute("crossorigin", "", (src = d));
      })(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
    </script>
    <div id="app"></div>
  </body>
</html>
