.dialog-predraw{
  width: 983px;
  height: 616px;
  background-image: url("../../resource/pic/predraw/对话.png");
  margin: auto;
  //position: absolute;
  //top: 50px;
  //left: calc((100% - 983px)/2) ;
}
.canvas-predraw{
  width: 554px;
  height: 683px;
  background-image: url("../../resource/pic/predraw/canvas.png");
  margin: auto;
}
.predraw-block{
  //height: calc((100% - 839px)/3) ;
  height: 80px ;
  width: 100%;
}